apache-beam[gcp]
cloudml-hypertune
git+https://github.com/jsoung/mlp-conf.git
google-cloud-bigquery
google-cloud-pubsub
google-cloud-storage
numpy
pandas
prefect
pytest
tensorflow~=2.17.0 # Pin to avoid crash in libc++abi on MacOS Apple Silicon M3
